@import "tailwindcss";

* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.font-bangla {
  font-family: "Hind Siliguri", sans-serif;
}

.active{
  background: #422AD5;
  color: white;
}
